<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{# ================================================================================================================== #}
{# Référencement #}
<title>{{ headTitle }}</title>
<meta name="description" content="{{ headDescription }}">

{# ================================================================================================================== #}
{# Configuration #}
<meta name="viewport" content="width=device-width, initial-scale=1">

{# ================================================================================================================== #}
{# Images #}
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<meta property="og:image" content="https://www.scub.net/assets/img/image-scub-reseaux-sociaux.png"/>

{# ================================================================================================================== #}
{# CSS #}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/animate.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"
        integrity="sha512-D/zaRVk05q6ERt1JgWB49kL6tyerY7a94egaVv6ObiGcw3OCEv0tvoPDEsVqL28HyAZhDd483ix8gkWQGDgEKw=="
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
<link rel="stylesheet" href="assets/css/main.css">

{# ================================================================================================================== #}
{# Essential META Tags for social media  #}
<meta property="og:title" content="Scub, ingénierie logicielle">
<meta property="og:description" content="Scub vous accompagne dans la réalisation de vos projets d'ingénierie informatique (Java, Javascript, Flutter, Agilité...)">
<meta property="og:image" content="https://www.scub.net/beta/img/logo/logo_social_media.png">
<meta property="og:url" content="https://www.scub.net">
<meta name="twitter:card" content="Scub, ingénierie logicielle">
<!-- Non-Essential for social media, But Recommended -->
<meta property="og:site_name" content="Scub">
<meta name="twitter:image:alt" content="Scub, ingénierie logicielle">

{# ================================================================================================================== #}
{# Google analytics #}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-115413-3', 'auto');
    ga('send', 'pageview');
</script>
{# ==================================================================================================================  #}