{% extends "generic/page.html.twig" %}
{% block content %}

    <section class="page-404-section pt-130 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-404-content text-center">
                        <h2 class="mb-30">404</h2>
                        <h4 class="mb-40">Cette page n'existe pas!</h4>
                        <a href="accueil" class="theme-btn">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}