{% extends "generic/page.html.twig" %}
{% block content %}
    {# ============================================================================================================== #}
    {# Content #}

    <section id="home" class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="hero-content-wrapper">
                        <h2 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Scub</h2>
                        <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Une ESN passionnée de technologies</h1>
                        <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s">Depuis 2003, notre métier consiste à créer avec vous des solutions digitales innovantes, en vous accompagnant à chaque étape de leurs réalisations.</p>
                        <a href="mailto:contact@scub.net" class="theme-btn">Rencontrons nous !</a>
                    </div>
                </div>
                <div class="hero-img hero-img-2 d-none d-lg-block">
                    <img src="assets/img/hero/hero-img.png" alt="" class="wow fadeInRight" data-wow-delay=".5s">
                </div>
            </div>
        </div>
    </section>

    {# ============================================================================================================== #}
{% endblock %}