{% extends "generic/page.html.twig" %}
{% block content %}
    {# ============================================================================================================== #}
    {# Content #}

    {{ include('generic/page.banner.html.twig') }}
    <!-- ========================= process-section start ========================= -->
    <section class="process-section pt-130">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                    <div class="section-title text-center mb-55">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Pour le monde de l'assurance</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">SPS</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"><a href="https://www.sps-solutions.fr/" target="sps">SPS</a> est une solution pour l'amélioration de l'efficacité
                            opérationnelle des assureurs, mutuelles et courtiers.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center time-line">
                <div class="col-12">
                    <div class="single-timeline">
                        <div class="row align-items-center">
                            <div class="col-lg-5 order-last order-lg-first">
                                <div class="timeline-content left-content text-lg-right">
                                    <div class="box-icon-style">
                                        <i class="lni lni-zoom-in"></i>
                                    </div>
                                    <h4 class="mb-10">Vue synthétique</h4>
                                    <p>SPS affiche pour chaque personne physique, personne morale et courtier une vue
                                        synthétique qui permet de rapidement avoir une vue à 360° : informations,
                                        évènements, propositions, contrats, documents...</p>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="timeline-img">
                                    <img src="assets/img/sps/vue_synthetique.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-timeline">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="timeline-img">
                                    <img src="assets/img/sps/suivi_client.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="timeline-content right-content text-left">
                                    <div class="box-icon-style">
                                        <i class="lni lni-users"></i>
                                    </div>
                                    <h4 class="mb-10">Suivi des clients & workflow</h4>
                                    <p>L'ensemble des évènements (visites, appels, propositions, courriers, emails...)
                                        sont tracés et permettent un suivi précis des relations et du travail à
                                        réaliser.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-timeline">
                        <div class="row align-items-center">
                            <div class="col-lg-5 order-last order-lg-first">
                                <div class="timeline-content left-content text-lg-right">
                                    <div class="box-icon-style">
                                        <i class="lni lni-consulting"></i>
                                    </div>
                                    <h4 class="mb-10">Contrats / primes / sinistres</h4>
                                    <p>SPS permet à vos équipes front office & back office d'avoir une vision complète
                                        des contrats : informations, produits, bénéficiaires, prestations,
                                        sinistres...</p>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="timeline-img">
                                    <img src="assets/img/sps/contrats.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="single-timeline">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="timeline-img">
                                    <img src="assets/img/sps/comparateur.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div class="timeline-content right-content text-left">
                                    <div class="box-icon-style">
                                        <i class="lni lni-euro"></i>
                                    </div>
                                    <h4 class="mb-10">Comparateurs de produits</h4>
                                    <p>SPS vous permet de comparer rapidement plusieurs produits en fonction du profil du prospect..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br><br>

    <section id="contact" class="contact-section cta-bg img-bg pt-110 pb-100" style="background-image: url('assets/img/bg/cta-bg.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-7">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s">SPS</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s">Vous voulez en savoir plus sur SPS ?</h2>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-5">
                    <div class="contact-btn text-left text-lg-right">
                        <a href="https://www.sps-solutions.fr/" target="sps" class="theme-btn">Allez sur le site de SPS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# ============================================================================================================== #}
{% endblock %}