{% extends "generic/page.html.twig" %}
{% block content %}
    {# ============================================================================================================== #}
    {# Content #}

    {{ include('generic/page.banner.html.twig') }}
    <section class="feature-section pt-130">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-direction"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Conseil</h4>
                            <p>Nous sommes capables d'apporter le conseil dont vous avez besoin pour progresser:
                                coaching, gestion de projet, expertise technique, facilitation, consulting, audit,
                                etc..</p>
                            <br>
                            <p><strong>Expertise</strong> : AMOA, AMOE, Accompagnement DévOps, Industrialisation,
                                Blockchain.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-code"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Développement</h4>
                            <p>Nous mettons à votre disposition nos équipes pour concrétiser vos projets
                                Applications web, applications mobiles, intelligence artificielle, blockchain.</p>
                            <br>
                            <p><strong>Expertise</strong> : Maven, Java, Spring, Rest, Angular, React, Flutter.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-user"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Tests</h4>
                            <p>De part notre acticité d'édition de logiciels, nous avons développé des compétences dans
                                le développement de tests automatisés permettant d'améliorer la qualité et le cycle
                                des livraisons.</p>
                            <br>
                            <p><strong>Expertise</strong> : Intégration continue, JUnit, Selenium, Mocha, Cucumber.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="feature-box box-style">
                        <div class="service-icon box-icon-style">
                            <i class="lni lni-cloud"></i>
                        </div>
                        <div class="box-content-style feature-content">
                            <h4>Administration</h4>
                            <p>Nous disposons d'ingénieurs qui administrent les serveurs de nos applications et ce de
                                nos clients. Ils sont aussi en charge de la sécurité et de la mise à jour de l'ensemble
                                des plateformes.</p>
                            <br>
                            <p><strong>Expertise</strong> : Linux, Amazon Web Services, OpenStack, Terraform.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {# ============================================================================================================== #}
{% endblock %}