{% extends "generic/page.html.twig" %}
{% block content %}
    {# ============================================================================================================== #}
    {# Content #}

    <br><br><br>

    <section class="carousel-section-wrapper">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-section carousel-item active clip-bg pt-225 pb-200 img-bg"
                     style="background-image: url('assets/img/carousel/carousel.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-10 mx-auto">
                                <div class="carousel-content text-center">
                                    <div class="section-title">
                                        <h2 class="text-white">Scub</h2>
                                        <p class="text-white">Depuis 2003, notre métier consiste à créer avec nos
                                            clients des solutions digitales innovantes, en les accompagnant à chaque
                                            étape de leurs réalisations (conception, maquettage, gestion de projet,
                                            architecture, réalisation, mise en œuvre, infrastructure et
                                            maintenance). </p>
                                        <p class="text-white">
                                            Nous avons la chance d’être à la fois société de service & éditeur de
                                            logiciel ce qui nous a permis d'avoir une expérience très concrète dans la
                                            gestion de la qualité, de l'industrialisation, des tests, des livraisons et
                                            des architectures cloud.
                                        </p>
                                        <p class="text-white">
                                            Nous sommes aujourd'hui 50 personnes sur Angoulême, Bordeaux & Paris et
                                            l'essentiel de nos missions sont réalisées à distance.
                                        </p>
                                    </div>
                                    <a href="mailto:contact@scub.net" class="theme-btn border-btn">Contactez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# ============================================================================================================== #}
{% endblock %}