/* ==========================================================================
   CSS RESET
    ========================================================================= */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    color: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ul,
ul ul,
ul ol,
ol ul,
ol ol{
    padding-left: 0;
    list-style: none;
}
body {
    line-height: 1;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*:focus {
    outline: 0;
    text-decoration: none;
}
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: 0;
    color: inherit;
}
strong, b {
    font-weight: 700;
}

/* ==========================================================================
    INITIAL STYLE
    ========================================================================= */

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #2A343A;
    font-size: 14px;
    overflow-x: hidden;
}

main {
    margin-left: 280px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 90px;
}

p {
    line-height: 21px;
}

form {
    display: block;
    width: 100%;
}

form span.submit {
    display: block;
    position: relative;
}

form span.submit svg {
    position: absolute;
    right: 0;
    top: 3px;
    height: 10px;
    margin-left: 10px;
    transition: all 0.3s;
}

input,
textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

input::placeholder,
textarea::placeholder {
    color: #2A343A;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    font-weight: 700;
    margin-top: 40px;
    text-align: left;
}

.info {
    font-size: 11px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid;
    line-height: 13px;
}

.mb-160 {
    margin-bottom: 160px !important;
}

.mb-190 {
    margin-bottom: 190px !important;
}

.mb-300 {
    margin-bottom: 300px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

a.btn {
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 12px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-radius: 0;
    font-size: 14px;
    color: white;
}

a.btn:hover {
    color: white;
}

a.btn.black {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    color: #2A343A;
}

a.btn.black:hover {
    color: #2A343A;
}

a.btn.blue {
    border-bottom: 1px solid rgba(0,145,218,0.5);
    color: rgb(0,145,218);
}

a.btn.blue:hover {
    color: rgb(0,145,218);
}

a.btn svg {
    position: absolute;
    right: 0px;
    top: 10px;
    height: 10px;
    transition: all 0.3s;
}

a.btn:hover svg {
    right: -10px;
}

/* ==========================================================================
    HEADER
    ========================================================================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #2A343A;
}

header a,
header a:hover {
    color: white;
    font-size: 15px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D99CF;
    padding: 60px 10px;
}

#mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: #0091DA;
}

.toggle-menu span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background-color: white;
}

.menu-social {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-social a {
    margin: 0 5px;
}

/* ==========================================================================
    MULTI LEVEL MENU OVERRIDE
    ========================================================================= */

.menu__link {
    font-size: 15px;
    line-height: 20px;
    color: white;
    padding: 15px;
}

.menu {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    background: inherit;
}

.menu__breadcrumbs a,
.menu__breadcrumbs a:hover {
    color: #4D99CF;
    text-transform: lowercase;
    font-size: 12px;
}

.menu__wrap {
    top: 60px;
}

.menu__wrap,
.menu__level {
    height: 250px;
}

.menu__level,
.menu__item {
    width: 100%;
    overflow: hidden;
}

.menu__link:hover,
.menu__link:focus,
.menu__link[data-submenu]:hover::after,
.menu__link[data-submenu]:focus::after {
    color: white;
}

.menu__link--current {
    position: relative;
    text-align: right;
}

.menu__link--current:before {
    content: "";
    position: absolute;;
    bottom: 5px;
    right: 0;
    width: 50%;
    height: 3px;
    background-color: #4D99CF;
}

.menu__breadcrumbs {
    padding: 30px 15px;
}

.menu__breadcrumbs a:not(:last-child)::after {
    content: '';
    padding: 0;
    width: 8px;
    height: 8px;
}

.menu__back {
    top: 6px;
    right: -5px;
}

.icon--arrow-left:before {
    content: url(/img/menu-arrow.svg);
}

.menu__link[data-submenu]:after {
    display: none;
}

.menu__link[data-submenu]:hover::after {
    content: url(/img/menu-arrow.svg);
    display: block;
    transform: rotate(180deg);
    top: 12px;
}

.menu__link.menu__link--current[data-submenu]:hover::after {
    left: 0;
    top: 10px;
}

.icon--cross:before {
    display: none;
}

/* ==========================================================================
    JQUERY UI OVERRIDE
    ========================================================================= */

.ui-accordion {
    font-family: inherit;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background: white;
}

.ui-icon.iconAccordion {
    background:url('../img/accordion.svg') no-repeat center;
    margin-right: 20px;
}

.ui-accordion .ui-accordion-header {
    position: relative;
    margin: 0;
    border: none;
    background-color: white;
    padding: 30px;
}

.ui-accordion .ui-accordion-header:not(:first-child) {
    border-top: 1px solid #D9D9D9;
}

.ui-accordion-header span:last-child {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 30px;
    top: 30px;
    color: #BEBEBE;
}

.ui-accordion-header span:last-child:before {
    content: url(../img/marker-gris.svg);
    display: inline-block;
    margin-right: 10px;
}

.ui-accordion-header h3 {
    font-size: 14px !important;
    display: inline-block;
}

.ui-state-active {
    color: #0091DA;
}

.ui-accordion .ui-accordion-content {
    padding: 15px 65px 30px 65px;
    border: none;
}

/* ==========================================================================
    HOMESLIDER
    ========================================================================= */

section.homeslider-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.homeslider-item {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: initial !important;
    background-color: #FAFAFA;
    transition: all 0.3s;
}

.homeslider-item:not(.active) {
    opacity: 0;
    visibility: hidden;
}

.homeslider-item .img,
.homeslider-item .texture {
    position: absolute;
    top: -20px !important;
    right: -20px !important;
    bottom: inherit !important;
    left: inherit !important;
}

.homeslider-item .text {
    position: absolute;
    top: 180px !important;
    left: 15% !important;
    bottom: inherit !important;
    right: inherit !important;
    z-index: 9999;
}

.homeslider-item span {
    display: block;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
}

.homeslider-item span > span {
    display: inline-block;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    margin-top: 15px;
}

.homeslider-nav {
    position: absolute;
    bottom: 100px;
    left: 200px;
}

.homeslider-btn {
    position: relative;
    cursor: pointer;
    padding-left: 50px; 
    margin-bottom: 15px; 
}

.homeslider-btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 40px;
    height: 2px;
    background-color: #2A343A;
}

.homeslider-btn.active {
    font-weight: 700;
}

/* ==========================================================================
    SLIDER
    ========================================================================= */

section.slider-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section.slider-wrapper:before {
    content: url(../img/texture-full.svg);
    position: absolute;
    left: 0;
    bottom: -25%;
    z-index: 1;
}

.slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*transition: all 0.3s;*/
}

.slider-item:not(.active) {
    opacity: 0;
    visibility: hidden;
}

.slider-item .row {
    height: 100%;
}

.slider-item .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0091DA;
    padding-left: 90px;
}

.slider-item .left h2,
.slider-item .left .slider-title {
    height: 150px;
    font-size: 80px;
    font-weight: 700;
    line-height: 45px;
    color: white;
    margin-bottom: 70px;
}

.slider-item .left h2 span,
.slider-item .left .slider-title span {
    font-size: 35px;
    font-weight: 300;
    line-height: 25px;
}

.slider-item .left .content {
    position: relative;
    z-index: 1;
    width: calc(100% + 90px);
    height: 230px;
    padding: 30px 35px 70px 35px;
    background: white;
}

.slider-item .slider-nav {
    position: absolute;
    bottom: 0;
    right: -1px;
}

.slider-item .prev,
.slider-item .next {
    display: inline-block;
    cursor: pointer;
    padding: 18px 28px;
}

.slider-item .prev {
    transform: rotate(180deg);
}

.slider-item .next {
    background-color: #2A343A;
}

.slider-item .next:hover {
    background-color: white;
}

.slider-item .next:hover svg path {
    fill: #2A343A;
}

.slider-item .left svg {
    height: 10px;
}

.slider-item .right .top,
.slider-item .right .bottom {
    margin: 0 -15px;
    background-size: cover;
}

.slider-item .right .top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(50% + 175px);
    color: #0091DA;
    padding: 50px 150px;
}

.slider-item .right .top .nb {
    position: relative;
    font-size: 25px;
    margin-bottom: 40px;
}

.slider-item .right .top .nb:before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 2px;
    height: 100vh;
    background-color: #0091DA;
}

.slider-item .right .top h3,
.slider-item .right .top .slider-subtitle {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}

.slider-item .right .top h3 span,
.slider-item .right .top .slider-subtitle span{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.slider-item .right .bottom {
    display: flex;
    align-items: center;
    height: calc(50% - 175px);
    background-size: cover;
    color: white;
    overflow: hidden;
    padding: 60px 150px;
}

.slider-item .right .bottom .nb {
    position: relative;
    font-size: 25px;
}

.slider-item .right .bottom .nb:before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 2px;
    height: 100vh;
    background-color: white;
}

/*----------------------------------------------------------------------------*/

section.slider-wrapper.white .left {
    background: #FAFAFA;
}

section.slider-wrapper.white:before {
    content: url(../img/texture-full-dark.svg);
    bottom: 0;
}

section.slider-wrapper.white h1,
section.slider-wrapper.white .slider-title {
    color: #2A343A;
}

section.slider-wrapper.white .left .content {
    background: #3291da;
    color: white;
}

section.slider-wrapper.white .prev path {
    fill: white;
}

section.slider-wrapper.white .slider-item .right .top {
    color: white;
}

section.slider-wrapper.white .slider-item .right .top .nb:before {
    background-color: white;
}

section.slider-wrapper.white .slider-item .right .bottom .nb {
    color: #2A343A;
}

section.slider-wrapper.white .slider-item .right .bottom .nb:before {
    background-color: #2A343A;
}

/* ==========================================================================
    REINVENT
    ========================================================================= */

.reinvent-wrapper {
    padding: 50px 0;
    background-color: white;
}

.reinvent-wrapper h1 {
    font-size: 60px;
    color: #0091DA;
    font-weight: bold;
}

.reinvent-list {
    margin-bottom: 0;
}

.reinvent-list .btn{
    margin-top: 60px;
}

.reinvent-list .reinvent-item {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    background-image: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.reinvent-list .reinvent-item:last-child {
    border-bottom: none;
}

.reinvent-list .reinvent-item:hover{
    background-image: url(/img/slider-1.png);
    min-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.reinvent-list .reinvent-item:hover .reinvent-item-container{
    padding: 21px 25px;
}

.reinvent-list .reinvent-item.view-all-item:hover .reinvent-item-container{
    padding: 21px 0;
}

.reinvent-list .reinvent-item .reinvent-item-container{
    padding: 21px 0;
    display: table;
    width: 100%;
    margin-bottom: 0;
    -webkit-transition: padding 0.2s ease 0s;
    -moz-transition: padding 0.2s ease 0s;
    -o-transition: padding 0.2s ease 0s;
    -ms-transition: padding 0.2s ease 0s;
    transition: padding 0.2s ease 0s;
}

.reinvent-list .reinvent-item li {
    display: inline-block;
}

.reinvent-list .reinvent-item .list-link-to {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
}

.reinvent-list .reinvent-item .reinvent-title h2{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}

.reinvent-list .reinvent-item .view-all-title h2{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 400;
}

.reinvent-list .reinvent-item:hover .reinvent-title h2,
.reinvent-list .reinvent-item:hover .reinvent-title h2 span{
    color: #fff;
}

.reinvent-list .reinvent-item .reinvent-title h2 span{
    font-weight: 600;
}

.reinvent-list .reinvent-item.view-all-item .view-all-title h2 .icon-container {
    display: inline-block;
    position: relative;
    top: -4px;
    margin-right: 5px;
}

.reinvent-list .reinvent-item.view-all-item .view-all-title h2 .icon-container svg{
    width: 15px;
}

.reinvent-list .read-more-icon:hover .fa{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
}

.reinvent-list .btn-wrapper {
    width: 100%;
    margin-top: 30px;
}

.reinvent-list .reinvent-item .svg-white-hover .st0{
    fill: #1a1d1f;
}

.reinvent-list .reinvent-item:hover .svg-white-hover .st0{
    fill: #fff;
}

/* ==========================================================================
    NUMBER
    ========================================================================= */

section.number-wrapper {
    padding: 50px 0;
    background-color: #0091DA;
    color: white;
}

.number {
    border-left: 1px solid rgba(255,255,255,0.5);
}

.number .title {
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 90px;
    margin-bottom: 25px;
}

.number .title:before {
    content: '';
    position: absolute;
    top: 0;
    left: -17px;
    height: 100%;
    width: 3px;
    background: white;
}

.number p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.number .h3 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 0;
}

.number .h3 span {
    font-size: 35px;
    font-weight: 300;
}

.number-wrapper .text {
    position: relative;
    z-index: 2;
}

.number-wrapper .text img {
    margin-bottom: 30px;
}

.number-wrapper .text h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 15px 0 30px 0;
}

/*---------------------------------------------------------------------------*/

section.number-wrapper.white {
    background-color: white;
    color: #2A343A;
}

.number-wrapper.white .number {
    border-left-color: rgba(0,0,0,0.5);
}

.number-wrapper.white .number .title:before {
    background-color: #2A343A;
}

.number-wrapper.white .text h2 {
    color: #0091DA;
}

/*----------------------------------------------------------------------------*/

section.number-wrapper.dark {
    position: relative;
    z-index: 0;
    background-color: #3E4D57;
    color: white;
    padding-top: 250px;
}

section.number-wrapper.dark:before {
    content: url(../img/texture-full.svg);
    display: block;
    position: absolute;
    right: 0;
    top: -60%;
    z-index: 0;
}

/* ==========================================================================
    SERVICE
    ========================================================================= */

section.service-wrapper {
    position: relative;
    background-color: #3E4D57;
    padding-top: 60px;
    color: white;
    height: 250px;
    margin-bottom: 200px;
}

section.service-wrapper:before {
    content: url(../img/texture-full.svg);
    position: absolute;
    right: 0;
    top: -120%;
    z-index: 0;

}

.service-wrapper .title {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
}

.service-wrapper .title span {
    font-size: 25px;
    font-weight: 300;
}

.service-wrapper .content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;
}

.service {
    background-color: #0074BF;
    padding: 45px 45px 50px 45px;
}

.service:nth-child(even) {
    background-color: #0091DA;
}

.service .subtitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.service .subtitle img {
    height: 25px;
    margin-right: 10px;
}

.service .subtitle + p {
    min-height: 63px;
}

.service .subtitle h3 {
    font-size: 17px;
    font-weight: 700;
    height: 80px;
    line-height: 120%;
}

.service hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 30px 0 15px 0;
}

/*----------------------------------------------------------------------------*/

section.service-wrapper.white {
    margin-bottom: 0;
}

/*section.service-wrapper.white:before {
    display: none;
}*/

.service-wrapper.white .service {
    background-color: white;
    color: #2A343A;
}

.service-wrapper.white .service:nth-child(even) {
    background-color: #FAFAFA;
}

.service-wrapper.white .service .subtitle {
    justify-content: flex-end;
    text-align: right;
}

.service-wrapper.white .service hr {
    background-color: #2A343A;
    margin: 15px 0;
}

/*----------------------------------------------------------------------------*/

section.service-wrapper.white.alt {
    background-color: #0091DA;
}

section.service-wrapper.white.alt:before {
    content: url(../img/texture.svg);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

section.service-wrapper.white.alt .content {
    padding: 0 15px;
}

.service-wrapper.white.alt h2 {
    font-weight: 700;
}

/*----------------------------------------------------------------------------*/

section.service-wrapper.normal {
    height: auto;
    padding-bottom: 60px;
}

/* ==========================================================================
    EXPERTISE
    ========================================================================= */

section.expertise-wrapper {
    position: relative;
    padding-bottom: 215px;
}

.expertise-wrapper h2 {
    position: relative;
    z-index: 1;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 120px;
}

.expertise-wrapper h2 span {
    font-size: 25px;
    font-weight: 300;
}

.expertise-wrapper .content {
    position: relative;
    z-index: 1;
    padding: 25px;
    background-color: white;
    border-left: 1px solid rgba(0,0,0,0.5);
    margin-left: 40px;
}

.expertise-wrapper .content:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: 3px;
    height: 120px;
    background-color: #2A343A;
}

.expertise-wrapper .content h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.expertise-wrapper img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
}

/*----------------------------------------------------------------------------*/

section.expertise-wrapper.alt {
    padding: 60px 0 45px 0;
    background-color: #FAFAFA;
}

.expertise-wrapper.alt h2 {
    font-size: 80px;
    line-height: 35px;
    margin-bottom: 50px;
}

.expertise-wrapper.alt .content {
    margin-left: 50%;
    padding: 45px 70px;
    background-color: #0091DA;
    border: none;
    color: white;
}

.expertise-wrapper.alt .content:before {
    top: 45px;
    left: 30px;
    background-color: white;
}

.expertise-wrapper.alt .content:after {
    content: '';
    position: absolute;
    top: 45px;
    left: 31px;
    width: 1px;
    height: calc(100% - 45px);
    background-color: rgba(255,255,255,0.5);
}

.expertise-wrapper.alt .link {
    margin-top: 140px;
    padding: 30px 0;
}

.expertise-wrapper.alt a:first-child {
    margin-right: 60px;
}

.expertise-wrapper.alt img {
    top: 0;
    right: inherit;
    bottom: inherit;
    left: 0;
}

/* ==========================================================================
    BOOK
    ========================================================================= */

section.book-wrapper {
    height: 400px;
}

section.book-wrapper .container-fluid,
section.book-wrapper .row {
    height: 100%;
}

.book-wrapper .content {
    position: relative;
    padding: 60px 350px 60px 90px;
    background-color: #3E4D57;
    color: white;
    height: 100%;
}

.book-wrapper .content h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 35px;
}

.book-wrapper .content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
}

.book-wrapper .content img {
    position: absolute;
    right: -70px;
    top: -15px;
}

.book-wrapper .form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 90px;
}

/* ==========================================================================
    INNOVATION
    ========================================================================= */

section.innovation-wrapper {
    background-color: #0091DA;
    color: white;
    padding: 60px 0;
}

.innovation {
    border-left: 1px solid rgba(255,255,255,0.5);
}

.innovation:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 90px;
    width: 3px;
    background: white;
}

.innovation-wrapper h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}

.innovation h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    height: 65px;
    margin-bottom: 10px;
}

.innovation p {
    height: 65px;
}

/* ==========================================================================
    OFFER
    ========================================================================= */

section.offer-wrapper {
    padding: 60px 0;
    background-color: #FAFAFA;
}

.offer-wrapper h2 {
    font-size: 60px;
    font-weight: 700;
    color: #0091DA;
}

.offer-wrapper .title h3 {
    line-height: 40px;
    margin-top: 15px;
}

.offer-wrapper h3 {
    font-size: 32px;
    font-weight: 300;
}

.offer-wrapper .link a {
    margin-right: 50px;
}

/* ==========================================================================
    METHOD
    ========================================================================= */

section.method-wrapper {
    background-color: #0091DA;
    padding: 200px 30px 60px 0;
    color: white;
}

.method-wrapper .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 50px;
}

.method-wrapper .title h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.method-wrapper .title h3 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.method-wrapper .title span {
    font-size: 25px;
    font-weight: 300;
    line-height:40px;
    margin-bottom: 30px;
}

.method-wrapper .text {
    padding-left: 50px;
}

.method-wrapper .text .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
    padding: 22px 0;

}

.method-wrapper .text .item:not(:last-child) {
    border-bottom: 1px solid white;
}

.method-wrapper .text .item img {
    margin-right: 20px;
    width: 17px;
    height: 13px;
}

/*----------------------------------------------------------------------------*/

.method-wrapper.white a {
    border-bottom: 1px solid rgba(0,145,218,0.5);
    float: right;
}

/*----------------------------------------------------------------------------*/

section.method-wrapper.alt {
    padding-top: 60px;
}

.method-wrapper.alt h2 {
    margin-bottom: 60px;
}

.method-wrapper.alt h3 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 15px;
}

.method-wrapper.alt .text {
    padding: 0 90px 0 15px;
}

/*----------------------------------------------------------------------------*/

section.method-wrapper.dark {
    background-color: #3E4D57;
}

.method-wrapper.dark h2 {
    color: #0091DA;
}

/*----------------------------------------------------------------------------*/

.method-wrapper.white {
    background-color: white;
    color: #2A343A;
}

.method-wrapper.white h2,
.method-wrapper.white a {
    color: #0091DA;
}

.method-wrapper.white .text .item:not(:last-child) {
    border-bottom-color: #2A343A; 
}

/* ==========================================================================
    IMAGE WITH TEXT
    ========================================================================= */

.imageWithText-wrapper .img {
    padding: 0;
}

.imageWithText-wrapper .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageWithText-wrapper .text {
    padding: 60px 90px;
}

.imageWithText-wrapper .method-wrapper .text {
    padding: 40px 0 20px 0;
}

.imageWithText-wrapper .method-wrapper .text p {
    margin: 0;
}

.imageWithText-wrapper h2 {
    font-size: 58px;
    font-weight: 700;
    line-height: 30px;
}

.imageWithText-wrapper h2 span {
    display: block;
    margin-top: 15px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 300;
}

.imageWithText-wrapper p {
    margin: 30px 0;
}

/* ==========================================================================
    TEXT
    ========================================================================= */

section.text-wrapper {
    position: relative;
    background-color: #3E4D57;
    padding:60px 0;
    color: white;
    overflow: hidden;
}

.text-wrapper:before {
    content: url(/img/texture-full.svg);
    position: absolute;
    right: 0;
    top: -100px;
}

.text-wrapper h2,
.method-wrapper h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    color: #0091DA;
}

.method-wrapper h2 {
    color: white;
}

.text-wrapper h2 span,
.method-wrapper h2 span {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin: 30px 0 60px 0;
}

/* ==========================================================================
    PAGETOP
    ========================================================================== */

section.pagetop {
    display: flex;
    align-items: stretch;
    position: relative;
    min-height: 100vh;
}

.pagetop:before {
    content: url(../img/texture-full-black.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}

section.pagetop .row {
    height: 100%;
}

section.pagetop .row > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 90px;
}

section.pagetop h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 45px;
}

section.pagetop h1 span {
    font-size: 35px;
    font-weight: 300;
    line-height: 25px;
}

section.pagetop .text {
    padding: 40px 25px;
    background-color: #3E4D57;
    color: white;
}

section.pagetop img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
}

/* ==========================================================================
    PAGETOP CONNAITRE
    ========================================================================== */

section.pagetop-connaitre {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
}

.pagetop-connaitre .row {
    height: 100%;
}

.pagetop-connaitre .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0091DA;
    color: white;
    padding: 0 90px;
}

.pagetop-connaitre .left:before {
    content: url(/img/texture.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.pagetop-connaitre span {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pagetop-connaitre h1 {
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
}

.pagetop-connaitre .right {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
}

.pagetop-connaitre .right .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.pagetop-connaitre .right .item {
    position: relative;
    flex: 1;
    background-size: cover;
    overflow: hidden;
}

.pagetop-connaitre .right .item .nb {
    position: absolute;
    font-size: 180px;
    font-weight: 700;
    line-height: 145px;
    color: #0091DA;
}

.pagetop-connaitre .right .item .desc {
    position: absolute;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    border-left: 1px solid white;
}

.pagetop-connaitre .right .item:first-child .nb {
    right: 90px;
    bottom: 0;
    transform: translateY(40%);
}

.pagetop-connaitre .right .item:nth-child(2) .nb {
    left: -62px;
    bottom: 60px;
}

.pagetop-connaitre .right .item:last-child .nb {
    left: 50%;
    bottom: 0;
    transform: translate(-60%, 40%);
}

.pagetop-connaitre .right .item:first-child .desc {
    left: 90px;
    bottom: 30px;
}

.pagetop-connaitre .right .item:nth-child(2) .desc {
    left: 50%;
    bottom: 60px;
}

.pagetop-connaitre .right .item:last-child .desc {
    right: 90px;
    bottom: 30px;
}

/* ==========================================================================
    TEXTBLOCK
    ========================================================================== */


section.textblock {
    padding: 60px 0 50px 0;
}

.textblock .text {
    column-count: 2;
    column-gap: 100px;
    padding-right: 100px;
}

.textblock .text p {
    page-break-inside: avoid;
    margin-bottom: 30px;
}

.textblock h2 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
}

.textblock h2 span {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 20px;
}

.textblock a.btn {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.textblock a.btn svg {
    height: 10px;
    margin-left: 10px;
    transition: all 0.3s;
}

.textblock a.btn:hover svg {
    margin-left: 20px;
}

/* ==========================================================================
    BANNER
    ========================================================================= */

section.banner-wrapper {
    background-color: #3E4D57;
    color: white;
    padding: 60px 0;
}

.banner-wrapper .row {
    align-items: center;
}

.banner-wrapper .text {
    border-left: 1px solid white;
    padding-left: 45px;
}

.banner-wrapper h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    color: #0091DA;
    letter-spacing: 2px;
}

.banner-wrapper h2 span {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    color: white;
    letter-spacing: 0;
}

/* ==========================================================================
    PROJECT LIST
    ========================================================================= */

section.project-list {
    position: relative;
    color: white;
    background-color: #0091DA;
    padding: 60px 0 75px 0;
}
section.project-list:before {
    content: url(../img/texture.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.project-list h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 50px;
}

.project-list .col-lg-4 {
    border-left: 1px solid white;
    padding: 0 25px;
}

.project-list .item {
    position: relative;
    line-height: 25px;
    min-height: 100px;
    margin-bottom: 45px;
}

.project-list .col-lg-4 .item:last-child {
    margin-bottom: 0;
}

.project-list .item:before {
    content: '';
    position: absolute;
    left: -27px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: white;
}

.project-list .item h3 {
    font-size: 17px;
    font-weight: 700;
}

/* ==========================================================================
    CONTACT
    ========================================================================= */

section.contact-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #FAFAFA;
}

.contact-wrapper .row {
    height: 100%;
}

.contact-wrapper .left {
    color: white;
    background-color: #0091DA;
    padding: 130px 60px 60px 90px;
}

.contact-wrapper .left:before {
    content: url(../img/texture.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.contact-wrapper .left img {
    margin-top: 50px;
}

.contact-wrapper .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 90px 60px 60px;
}

.contact-wrapper h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 40px;
}

.contact-wrapper h1 span {
    font-size: 35px;
    font-weight: 300;
}

.contact-wrapper h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 60px;
}

.contact-wrapper input:not([type="submit"]),
.contact-wrapper textarea {
    margin-bottom: 30px;
}

.contact-wrapper .submit {
    display: inline-block;
    margin-top: 30px;
    width: 100px;
    float: right;
}

.contact-wrapper input[type="submit"] {
    margin-top: 0;
    padding-bottom: 12px;
}

/* ==========================================================================
    PLACE
    ========================================================================= */

section.place {
    display: flex;
    height: 75vh;
}

.place .row {
    height: 100%;
}

.place .item {
    position: relative;
    flex: 1;
    background-size: cover;
    overflow: hidden;
}

.place .item .nb {
    position: absolute;
    font-size: 180px;
    font-weight: 700;
    line-height: 145px;
    color: #0091DA;
    left: -62px;
    width: 120%;
}

.place .item .desc {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: white;
    padding-left: 20px;
    border-left: 1px solid white;
}

.place .item:first-child .nb {
    top: 50px;
}

.place .item:nth-child(2) .nb {
    top: 50%;
    transform: translateY(-50%);
}

.place .item:last-child .nb {
    bottom: 50px;
}

/* ==========================================================================
    PARTNER
    ========================================================================= */

section.partner-wrapper {
    padding: 60px 0;
}

section.partner-wrapper h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}

.partner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partner img { max-width: 190px; }

/* ==========================================================================
    404
    ========================================================================= */

section.not-found {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found h1 {
    font-size: 200px;
    font-weight: 700;
}
.not-found h2 {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;
}

/* ==========================================================================
    POST TOP
    ========================================================================= */

section.post-top {
    position: relative;
    z-index: -1;
    color: white;
    background-color: #0091DA;
    padding: 90px 90px 200px 90px;
}

.post-top:before {
    content: url(../img/texture.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

.post-top:after {
    content: url(../img/texture.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.post-top time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.post-top time:before {
    content: url(../img/clock.svg);
    margin-right: 15px;
}

.post-top h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}

.post-top h1 span {
    display: inline-block;
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 30px;
}

.post-top .author {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

/* ==========================================================================
    POST CONTENT
    ========================================================================= */

.post-content {
    padding: 0 90px 60px 90px;
}

.post-content .img-wrapper {
    margin: -120px 0 60px 0;
    width: 100%;
    height: 400px;
}

.post-content .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content article {
    max-width: 750px;
    margin: 0 auto;
}

.post-content p {
    margin-bottom: 15px;
}

.post-content h2 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}

.mentions-title {
    font-size: 20px!important;
    font-weight: 300!important;
    margin: 20px 0!important;
}

.post-content h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.post-content ul li {
    display: flex;
    padding: 20px 0;
    font-weight: 400;
    line-height: 20px;
}

.post-content ul li:before {
    content: url(../img/check-dark.svg);
    margin-right: 20px;
}

.post-content ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

/* ==========================================================================
    FOOTER
    ========================================================================= */

footer {
    background-color: #2A343A;
    color: white;
    margin-left: 280px;
}

footer .scrolltop {
    position: absolute;
    top: 0;
    right: 0;
    transform:translateY(-50%);
    padding: 20px 15px;
    background-color: #0091DA;
}

footer .top {
    display: block;
    padding: 45px 15px;
    border-bottom: 1px solid #637A8A;
}
footer .top img.scub {
    margin-bottom: 20px;
}
footer .top span {
    font-size: 10px;
    margin: 15px 0 10px 0;
}
footer .top strong {
    font-size: 12px;
    margin-top: 15px;
}

footer .center {
    padding: 20px 15px 0 15px;
    border-bottom: 1px solid #637A8A;
}

footer .center a {
    font-weight: 700;
    color: #4D99CF;
}

footer .col-lg-2 {
    margin-bottom: 35px;
}

footer h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    color: #4B565D; 
}

footer h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

footer a.arrow {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 12px;
    border-bottom: 1px solid #4D99CF;
}

footer a.arrow svg {
    height: 10px;
    margin-left: 10px;
    transition: all 0.3s;
}

footer a.arrow:hover svg {
    margin-left: 20px;
}

footer .bottom {
    display: flex;
    align-items: center;
    border-top: 1px solid #637A8A;
    color: #637A8A;
    font-size: 10px;
    padding: 20px 15px;
    margin-top: 30px;
}

footer .bottom .row {
    width: 100%;
}

footer .bottom .solution a {
    margin: 0 15px;
}

footer .center .bottom {
    color: #637A8A;
    font-size: 10px;
    padding: 20px 15px;
}
footer .center .bottom a {
    color: #637A8A;
    font-weight: 400;
}
footer .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .copyright a.a42 {
    margin-left: 10px;
}

/* RESPONSIVE */

@media(max-width: 800px) {
    header {
        left: inherit;
        right: 0;
        z-index: 9000;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
        width: 100%;
        padding: 100px 30px;
    }

    header.active {
        transform: translateX(0);
    }

    header .logo { display: none; }

    .menu__breadcrumbs, .menu__link { font-size: 15px; }

    .menu__link--current {
        text-align: left;
        margin-left: 50px;
    }

    .menu__link--current:before {
        right: inherit;
        left: 0;
    }

    #mobile-header { display: flex; }

    main { margin-top: 100px; }

    main, footer { margin-left: 0; }

    .container { padding: 0 15px; }

    h1, .slider-title { font-size: 40px !important; }

    h1 span {
        font-size: 25px;
        line-height: 30px;
    }

    h2 {
        font-size: 30px !important;
        margin-bottom: 10px !important;
    }

    h2 span, h3, h3 span {
        display: block;
        font-size: 23px !important;
        line-height: 30px !important;
        margin-bottom: 15px !important;
    }

    section.service-wrapper:before { display: none; }

    section.homeslider-wrapper { height: calc(100vh - 100px); }

    .homeslider-item .text {
        position: absolute;
        top: 90px !important;
        left: 0% !important;
        z-index: 8000;
        padding: 0 15px;
    }
    
    .homeslider-wrapper span {
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
    }
    
    .homeslider-wrapper span span {
        font-size: 30px;
        margin-top: 0;
    }

    .homeslider-item h2 span { 
        font-size: 30px;
        line-height: 30px;
    }

    .homeslider-item a { margin-top: 10px; }

    .homeslider-nav {
        bottom: 15px;
        right: 30px;
        left: inherit;
    }

    section.slider-wrapper { height: auto; }

    .slider-item.active {
        display: block;
        position: relative;
    }

    .slider-item:not.active {
        display: none;
    }

    .slider-item .left { padding: 50px 15px; }

    .slider-item .left h2, .slider-item .left .slider-title {
        margin-bottom: 0;
        z-index: 1;
    }

    .slider-item .left .content {
        width: 100%;
        height: auto;
    }

    .slider-item .right .top { 
        height: auto;
        padding: 50px 15px;
    }

    section.pagetop .row > div { padding-left: 15px; }

    .reinvent-wrapper h1 { margin-bottom: 30px; }

    .reinvent-list .reinvent-item .reinvent-title h2,
    .reinvent-list .reinvent-item .reinvent-title h2 span {
        font-size: 15px !important;
        line-height: 20px !important;
        margin-bottom: 0 !important;
    }

    section.number-wrapper.dark {padding-top: 60px;}

    .number .title { height: auto; }

    .number .title:before { display: none; }

    section.expertise-wrapper { padding-bottom: 30px; }

    section.service-wrapper {
        height: auto;
        padding-bottom: 60px;
        margin-bottom: 50px;
    }
    
    .service .subtitle h3 {
        height: auto;
    }

    .service-wrapper .content { padding: 0 15px; }

    .service-wrapper .title.text-right { text-align: left !important; }

    .service-wrapper.white.alt h2 { line-height: 10px; }

    .number { margin-bottom: 30px; }

    .service { 
        padding: 35px; 
        margin-bottom: 15px;
    }

    .expertise-wrapper .title {
        background-color: white;
        position: relative;
        z-index: 1;
        padding-bottom: 25px 15px;
    }

    .expertise-wrapper .content {
        margin-left: 15px;
        width: calc(100% - 30px);
        top: 15px;
        border-left: none;
    }

    .expertise-wrapper .content:before { display: none; }

    section.book-wrapper { height: auto; }

    .book-wrapper .content { padding: 50px 15px; }

    .book-wrapper .content img { display: none; }

    .book-wrapper .form { padding: 50px 30px; }

    .innovation h3 { height: auto; }

    .innovation {
        margin-top: 30px;
        border-left: none;
    }

    .innovation:before { display: none; }

    .innovation p { height: auto; }

    .innovation a { margin-top: 15px; }

    .partner { flex-direction: column; }

    .partner img { margin: 10px 0; }

    section.method-wrapper { padding-top: 60px; }

    .number-wrapper.white .number { border-left: none; }

    .imageWithText-wrapper .text { padding: 60px 15px; }

    .slider-item .right .top .nb:before { display: none; }

    .mb-160, .mb-300 { margin-bottom: 0 !important; }

    .pt-200 { padding-top: 0 !important; }

    .method-wrapper .text { padding-left: 15px; }

    section.method-wrapper { padding: 60px 0; }

    .method-wrapper a { margin-top: 10px; }

    .method-wrapper .title { padding-right: 15px; }

    .method-wrapper .text { margin-top: 30px; }

    .method-wrapper.alt .text { padding: 0 15px; }

    .method-wrapper.white a {
        margin-top: 30px;
        float: none;
    }

    .imageWithText-wrapper h2 { line-height: 10px; }

    .banner-wrapper .text { margin-top: 30px; }

    .project-list .col-lg-4 {
        border-left: none;
        padding: 0 15px;
    }

    .project-list h2 { margin-bottom: 30px !important; }

    .project-list .col-lg-4 .item:last-child { margin-bottom: 45px; }

    .ui-accordion-header span:last-child { position: unset; }

    .ui-accordion .ui-accordion-content {
        padding: 15px 30px;
        height: auto !important;
    }

    .contact-wrapper .left, .contact-wrapper .right { padding: 60px 15px; }

    .place .item { flex: initial; }

    .place .item .nb, .pagetop-connaitre .right .item .nb {
        font-size: 80px;
        top: inherit !important;
        left: -25px !important;
        bottom: 50% !important;
        transform: translateY(50%) !important;
    }

    .pagetop-connaitre .left { padding: 50px 15px; }

    .pagetop-connaitre .right .item {
        flex: auto;
        height: 130px;
    }

    .pagetop-connaitre .right .item .desc {
        top: inherit !important;
        bottom: 35px !important;
        left: 90px !important;
        right: inherit !important;
    }

    .textblock .text {
        column-count: 1;
        padding-right: 0;
    }

    section.post-top { padding: 60px 15px 200px 15px; }

    .post-top h1 span { margin-top: 20px; }

    .slider-item .right .bottom { display: none; }

    .post-content { padding: 0 15px 60px 15px; }

    .offer-wrapper a { margin: 30px 0 10px 0; }

    .expertise-wrapper img { display: none; }

    .contact-wrapper h2 { margin-bottom: 30px !important; }

    footer .top img.scub { margin-bottom: 10px; }

    footer h3 { margin-top: 30px; }

    footer .center a {
        width: 61%;
        display: inline-block;
    }

    footer a.arrow {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    footer .center .col-lg-9 .col-lg-3 { margin-bottom: 30px; }

    footer .center .col-lg-9 .col-lg-3.text-right { text-align: left !important; }

    footer .center .bottom { margin-top: 0; }

    footer .center .bottom .col-lg-3 { margin-bottom: 15px; }

    footer .copyright.text-right {
        text-align: left !important;
        justify-content: space-between;
    }

    .col-lg-6.copyright.text-right > * { width: auto; }
    
    .margin-footer {
        margin-top: 15px;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px) {
    .reinvent-wrapper h1 {
        font-size: 40px;
    }
    
    .number .h3 {
        font-size: 36px;
    }
    
    section.service-wrapper:not(.white) {
        margin-bottom: 890px;
    }
    
    .col-lg-4.service {
        max-width: 100%!important;
    }
    
    .service-wrapper:not(.white) .content {
        flex-direction: column;
    }
    
    .service-wrapper.white .content {
        flex-wrap: nowrap;
    }
    
    .innovation h3 {
        height: 110px;
    }
    
    .innovation p {
        height: 110px;
    }
    
    .slider-item .left h2, .slider-item .left .slider-title {
        z-index: 1;
    }
    
    .slider-item .left .content {
        height: 340px;
    }
    
    h1 span {
        font-size: 30px!important;
    }
    
    section.method-wrapper {
        padding-top: 280px;
    }
    
    .number-wrapper .text h2 {
        font-size: 40px;
    }
    
    .mb-190 {
        margin-bottom: 300px!important;
    }
    
    .imageWithText-wrapper h2 {
        font-size: 40px;
    }
    
    .text-wrapper h2, .method-wrapper h2 {
        font-size: 50px;
    }
    
    .method-wrapper .title h2 {
        font-size: 40px;
    }
    
    .imageWithText-wrapper .text {
        padding: 60px 70px;
    }
    
    .banner-wrapper a {
        width: 100%;
    }
    
    .banner-wrapper a img {
        width: 100%;
    }
    
    section.number-wrapper.dark {
        padding-top: 430px;
    }
    
    .contact-wrapper h1 {
        font-size: 60px;
    }
}

@media all and (min-width: 1200px) {
    .service-wrapper .content {
        flex-direction: row;
    }
    
    .expertise-wrapper img {
        width: auto;
    }
    
    section.service-wrapper {
        margin-bottom: 250px;
    }
    
    .col-lg-4.service {
        max-width: 33.333333%!important;
    }
}

@media(min-width: 1500px) {
    .homeslider-item .text,
    .homeslider-nav { left: 17%; }
    .slider-item .left,
    .pagetop-connaitre .left,
    section.pagetop .row > div { padding-left: 17%; }
    .imageWithText-wrapper .text { padding: 60px 17% 60px 90px; }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10 & IE11 */
    a.btn svg,
    a svg,
    input + svg {
        width: 20px;
        height: 15px;
    }
    .slider-item .prev, .slider-item .next { width: 76px; }
    .method-wrapper .title p { width: 100%; }
    section.pagetop .text { width: 100%; }
}

@supports (-ms-ime-align: auto) {
   /* Microsoft EdgeV13&14 */
    a.btn svg,
    a svg,
    input + svg {
        width: 20px;
        height: 15px;
    }
}