{% extends "generic/page.html.twig" %}
{% block content %}
    {# ============================================================================================================== #}
    {# Content #}

    <section id="home" class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="hero-content-wrapper">
                        <h2 class="mb-25 wow fadeInDown" data-wow-delay=".1s">Scub</h2>
                        <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Culture de l'ingénierie, esprit
                            d'exécution.</h1>
                        <p class="mb-35 wow fadeInLeft" data-wow-delay=".3s">Les meilleures stratégies du monde n'ont
                            aucun sens sans la capacité de les mettre en œuvre et les organisations les plus
                            performantes sont celles qui ont compris que la technologie est essentielle pour y
                            parvenir.</p>
                        <a href="mailto:contact@scub.net" class="theme-btn">Rencontrons nous !</a>
                    </div>
                </div>
                <div class="hero-img hero-img-2 d-none d-lg-block">
                    <img src="assets/img/hero/hero-img.png" alt="" class="wow fadeInRight" data-wow-delay=".5s">
                </div>
            </div>
        </div>
    </section>

    <section class="client-logo-section">
        <div class="container">
            <div class="client-logo-wrapper">
                <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="client-logo">
                        <img src="assets/img/clients/ampli.jpg" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="assets/img/clients/cognac.jpg" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="assets/img/clients/optistya.jpg" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="assets/img/clients/rubis.jpg" alt="">
                    </div>
                    <div class="client-logo">
                        <img src="assets/img/clients/smatis.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div><br><br></div>
    </section>
    {# ============================================================================================================== #}
{% endblock %}