Errordocument 404 /404.php
Redirect 301 https://www.scub.net/home/en/index.html https://www.scub.net/
Redirect 301 https://www.scub.net/home/fr/index.html https://www.scub.net/
Redirect 301 https://www.scub.net/home/fr/offres_emploi/offre_emploi_chef_de_projet.pdf https://www.scub.net/recrutement/offre-emploi-chef-de-projet.pdf
Redirect 301 https://www.scub.net/home/fr/offres_emploi/offre_emploi_directeur_technique.pdf https://www.scub.net/recrutement/offre-emploi-directeur-technique.pdf
Redirect 301 https://www.scub.net/home/fr/offres_emploi/offre_emploi_developpeur.pdf https://www.scub.net/recrutement/offre-emploi-developpeur.pdf
Redirect 301 https://www.scub.net/home/fr/ml.html https://www.scub.net/mentions-legales
