RewriteEngine On
RewriteBase /
DirectoryIndex accueil.php
Redirect 301 /home/en/index.html https://www.scub.net/
Redirect 301 /home/fr/index.html https://www.scub.net/
Redirect 301 /home/fr/ml.html https://www.scub.net/mentions-legales
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]
Errordocument 404 /404