<footer class="footer pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s">
                    <a href="accueil" class="logo mb-30"><img src="assets/img/logo/logo.svg" alt="logo"></a>
                    <p class="mb-30 footer-desc">Depuis 2003, notre métier consiste à créer avec vous des solutions digitales
                        innovantes, en vous accompagnant à chaque étape de leurs réalisations..</p>
                </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
                <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".4s">
                    <h4>Notre site</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="accueil">Accueil</a>
                        </li>
                        <li>
                            <a href="notre-offre">Notre offre</a>
                        </li>
                        <li>
                            <a href="nos-produits">Nos produits</a>
                        </li>
                        <li>
                            <a href="publications">Publications</a>
                        </li>
                        <li>
                            <a href="recrutement">Recrutement</a>
                        </li>
                        <li>
                            <a href="contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".6s">
                    <h4>Réseaux</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="https://twitter.com/scub_france" target="twitter">Sur Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/scub" target="linkedin">Sur Linkedin</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/scubFrance" target="facebook">Sur facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInRight" data-wow-delay=".8s">
                    <h4>Contact</h4>
                    <ul class="footer-contact">
                        <li>
                            <p><a href="tel:0545373373" style="display: block;">05 45 37 33 73</a></p>
                        </li>
                        <li>
                            <p><a href="mailto:contact@scub.net">contact@scub.net</a></p>
                        </li>
                        <li>
                            <p><a href="https://g.page/scub-angouleme?we" target="google-maps-scub-angouleme">Scub Angoulême</a></p>
                        </li>
                        <li>
                            <p><a href="https://g.page/scub-bordeaux?we" target="google-maps-scub-bordeaux">Scub Bordeaux</a></p>
                        </li>
                        <li>
                            <p><a href="https://g.page/scub-paris?we" target="google-maps-scub-bordeaux">Scub Paris</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="footer-social-links">
                        <ul class="d-flex">
                            <li><a href="https://twitter.com/scub_france" target="twitter"><i class="lni lni-twitter-filled"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/scub" target="linkedin"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="https://www.facebook.com/scubFrance" target="facebook"><i class="lni lni-facebook-filled"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>