<section class="page-banner-section pt-25 pb-25 img-bg" style="background-image: url('assets/img/bg/common-bg.svg')">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="banner-content">
                    <h2 class="text-white">{{ bannerTitle }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>